:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #2e2c2c;
    --grey-color: #eeeeee;
    --sunrise: #FFD525;
    --lavender: #C095FA;
    --ocean: #5651FF;
    --avocado-mist: #02C874;
    --fire-brick: #ad011d;
}


body {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 1.5;

    background-color: #eeeeee;
    color: var(--text-color);
}

/*Color*/
.black-text {
    color: var(--black-color);
}

.bg-ocean {
    background-color: var(--ocean);
}

.bg-avocado-mist {
    background-color: #02C874;
}

.bg-sunrise {
    background-color: var(--sunrise);
}

.bg-grey{
    background-color: var(--grey-color);
}

.bg-fire-brick{
    background-color: var(--fire-brick);
}

/*Lists*/
ol {
    list-style: decimal;
    margin-left: 23px;
}

/*Typography*/
.bold-font{
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--black-color)
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

/*Button*/
.button-check-in p{
    display: inline-block;
    background-color: var(--lavender);
    --black-color: #000000;
    text-align: center;
    padding: 10px 20px 10px 20px; border-radius: 5px;
    pointer-events: none;
}



/*Hero page*/
.table-of-contents {
    border-radius: 4px;
}

/*Check-in*/
.output-check-in p{
    display: inline-block;
    padding: 10px 20px 10px 20px; border-radius: 5px;
    transition: background-color 0.5s;
}


@media screen and (max-width: 600px) {
    .matrix {
        padding-top: 32px;
        display: flex;
        flex-direction: column-reverse;
    }
  }


/*STEPS*/

 
  .display-none {
      display: none;
  }
   
  
  .steps-button {
    /* background-color: #eeeeee;  */
    border: 1px solid #ebebeb;
    border-width: 1px 0;
    font-weight: 400;
    transition: background-color .15s ease-in-out;
    /* width: 20vw; */
  }

  .arrow {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
  }

  .rotate-arrow{
    transform: rotate(-180deg);
  }



  /*IDOARRT*/

  .idoarrt-parent {
     
  }

  span.circle-idoarrt {
    border-radius: 200px;
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
  }

  .big-letter {
    
  }

  