:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color: #2e2c2c;
    --grey-color: #eeeeee;
    --sunrise: #FFD525;
    --lavender: #C095FA;
    --almost-lavender: #d845af;
    --ocean: #5651FF;
    --avocado-mist: #02C874;
    --fire-brick: #ad011d;
    --frank-orange: #FF7347;
    --pink-lemonade: #ff8082; 
}

@keyframes scale-light-bulb {
    0% {
        transform: scale(0);
        transform: rotate(0deg);
    }

    100% {
        transform: scale(3);
        transform: rotate(360deg);
    }
}

@keyframes fade-in-up {
    0% {

        transform: translate(0, 2000px);
    }

    100% {
        transform: translate(0, 0px);
    }
}

@keyframes fade-in-background {
    0% {

        background-image: transform: translate(0, 2000px);
    }

    100% {
        transform: translate(0, 0px);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


body {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 1.5;

    background-color: #eeeeee;
    color: var(--text-color);
}

/*Color*/
.black-text {
    color: var(--black-color);
}

.white-text{
    color: var(--white-color);
}

.bg-ocean {
    background-color: var(--ocean);
}

.bg-avocado-mist {
    background-color: #02C874;
}

.bg-sunrise {
    background-color: var(--sunrise);
}

.bg-grey{
    background-color: var(--grey-color);
}

.bg-fire-brick{
    background-color: var(--fire-brick);
}

.bg-pink-lemonade {
    background-color: var(--pink-lemonade);
}

.bg-frank-ocean{
    background-color: var(--frank-orange);
}

.bg-almost-lavender {
    background-color: var(--almost-lavender);
}

/*Lists*/
ol {
    list-style: decimal;
    margin-left: 23px;
}

.z-high{
    z-index: 1000;
}

/*Typography*/
.bold-font{
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--black-color)
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

/*Button*/
.button-check-in p{
    display: inline-block;
    background-color: var(--lavender);
    --black-color: #000000;
    text-align: center;
    padding: 10px 20px 10px 20px; border-radius: 5px;
    pointer-events: none;
}

.play-game-button p{
    display: inline-block;
    background-color: var(--lavender);
    --black-color: #000000;
    text-align: center;
    padding: 10px 20px 10px 20px; border-radius: 5px;
    pointer-events: none;
    font-size: 20px;
    font-weight: 400;
    font-family: karla;
}


/*Hero page*/
.table-of-contents {
    border-radius: 4px;
}

/*Check-in*/
.output-check-in p{
    display: inline-block;
    padding: 10px 20px 10px 20px; border-radius: 5px;
    transition: background-color 0.5s;
}

/*Check-out*/
.output-check-out p{
    display: inline-block;
    padding: 10px 20px 10px 20px; border-radius: 5px;
}


@media screen and (max-width: 600px) {
    .matrix {
        padding-top: 32px;
        display: flex;
        flex-direction: column-reverse;
    }
  }


/*STEPS*/

 
  .display-none {
      display: none;
  }
   
  
  .steps-button {
    /* background-color: #eeeeee;  */
    border: 1px solid #ebebeb;
    border-width: 1px 0;
    font-weight: 400;
    transition: background-color .15s ease-in-out;
    /* width: 20vw; */
  }

  .arrow {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
  }

  .rotate-arrow{
    transform: rotate(-180deg);
  }



  /*IDOARRT*/

  .idoarrt-parent {
     
  }

  span.circle-idoarrt {
    border-radius: 200px;
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
  }

  .big-letter {
    
  }

  





  /*Check-in HERO*/
  .section-animation {
      position: relative;
  }



  .z-index {
      z-index: 100;
  }

  .divider {
      width: 100%;
      height: 1px;
      background-color: #eee;
  }

  .box-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
  }


  /*ANIMATION*/

  .fade-in-animation {
      animation: fade-in 0.4s 0.5s both;
  }

  .table-of-contents {
    animation: fade-in-up 0.8s 0.5s both cubic-bezier(0.65,0.05,0.36,1);
  }

.background-picture-hero {
    animation: fade-in 0.8s 2s both cubic-bezier(0.65,0.05,0.36,1);
    background-image: url(/assets/images/background.svg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    top: 0;
    position: sticky;
}

@keyframes blob {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(0.7)
    }
}

svg.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    mix-blend-mode: multiply;
}

path {
    transform: scale(0);
    animation: blob 3s 0.6s both;
}

