@media (min-width: 640px) {
    .shape,
    .animation-title
     {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    
    
    .in-viewport .shape,
    .in-viewport .animation-title
    {
        opacity: 1;
    }
    
    
}